{% extends "guru/base.html" %}
{% load bootstrap %}

{% block container %}

	<div class="row msgs-login">
	    {% if errors %}
            <div class="alert alert-danger">
                <strong>Erro!</strong> {{ errors }}
            </div>
		{% endif %}
	</div>

	<div class="row login" style="margin-top:50px">
		<div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Criar Conta</h3>
                </div>
                <div class="panel-body">
                    <form class="form" role="form">
						{% csrf_token %}

                        <div> 
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" />
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" oninput="validatePassword();"/>
                        </div>
                         <div>
                            <label for="password_confirmation">Password confirmation</label>
                            <input type="password" id="password_confirmation" oninput="validatePassword();" />
                        </div> 
                        <div id="password-validation">
                        </div>
                        <div>
                            <label for="first_name">First name</label>
                            <input type="text" name="first_name" id="first_name" />
                        </div>
                        <div>
                            <label for="last_name">Last name</label>
                            <input type="text" name="last_name" id="last_name" />
                        </div>
                        <p class="bs-component">
                            <center>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="btn btn-success btn-sm" style="text-align:center;margin-left:-20px" type="submit" formmethod="POST" value="Criar" />
                                    </div>
                                </div>
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
	</div>

{% endblock %}