{% extends "guru/base.html" %}
{% load bootstrap %}

{% block container %}
	
	<div class="row titulo-pergunta">
		<h2>{{ pergunta }}</h2>
	</div>
	<div class="row">
		<h3>Descrição</h3>
		<p>{{pergunta.texto}}</p>
	</div>

	<div class="row answers">
		<h2>{{ pergunta.resposta_set.count }} Respostas</h2>
		{% for resposta in pergunta.resposta_set.all %}
			<div class="row" id="answer">
				<div class="row"><h3>{{ resposta.texto }}</h3></div>
				<div class="row date">
					<p>Publicado em: {{ resposta.data_de_criacao }}</p>
				</div>
				<div class="row autor">
					<p>Autor: {{ resposta.autor }}</p>
				</div>
				<div class="row" id="line-bottom"></div>
			</div>
		{% endfor %}
	</div>
	
	<div class="form-group responder">
	  <form class="form" role="form">
		{% csrf_token %}
		{{ form|bootstrap }}
		<div class="form-group">
			<button type="submit" id="comentario_buttom" formmethod="POST" class="btn btn-primary">Enviar</button>
		</div>
	</form>
	</div>

{% endblock %}