{% load staticfiles %}

<html>
	<head>
		<title>Guru Online</title>
		<script type="text/javascript" href="{% static 'js/jquery.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/guru.css' %}">
	</head>
		
    <body>
	    <div class="header row">
	    	<div class="col-md-1"><a href="/"><button type="button" id="botao-home" class="btn btn-warning btn-lg">Home</button></a></div>
    		<div class="col-md-9">
	    		<h1>
	    			Bem Vindo ao Guru Online2
	    		</h1>
    		</div>
    		<div class="col-md-2"><a href="{% url 'guru_responde.views.nova_pergunta' %}"><button type="button" id="botao-criar-pergunta" class="btn btn-warning btn-lg">Nova Pergunta</button></a></div>
    	</div>	

		<div class="container" id="questions">

	    	{% block container %}{% endblock %}

    	</div>

		<script type="text/javascript" href="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

	<footer></footer>
</html>
